/* You can add global styles to this file, and also import other style files */
html, body {
  font-family: Arial;
  font-size: 1em;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0;
}

body {

}

p {
	font-size: 14px;
}

* {
  box-sizing: border-box;
  position: relative;
}

.app-wrapper {
  width: 100%;
  height: 100%;
  background-color: #f2f2f2;
}
.content-wrapper {
  height: 100%;
  overflow: auto;
  margin-left: 15px;
  margin-right: 15px;
}

.header {
  width: 100%;
  height: 100px;
  padding: 10px;
}

.header-text {
  float: left;
}

.nav-wrapper {
  float: right;
}

.nav-wrapper a {
  color: black;
  font-weight: semibold; 
  margin-left: 5px;
}

.nav-wrapper a:hover {
  text-decoration: none;
  font-weight: bold;
}

.header-title {
  font-weight: semibold;
  font-size: 36px;
}

.header-subtitle {
  font-weight: semibold;
  font-size: 30px;
}

/*

.content-wrapper .header {
  background-color: magenta;
  width: 100%;
  height: 100px;
}

.content-wrapper .content {
  background-color: white;
  overflow: auto;
  top: 0;
  padding: 10px;
}
*/

.img-thumbnail {
	width: 140px;
}