<div class="app-wrapper">
    <div class="content-wrapper">
      <div class="header">
        <div class="header-text">
          <span id="header-title">{{title}}</span> <span id="header-subtitle">- {{subtitle}}</span>
        </div>
        <div class="nav-wrapper">
          <!-- Navigation -->
          <a [routerLink]="['/']">Home</a>
          <a [routerLink]="['/product-list']">Product List</a>
        </div>
      </div>
      <div class="content-container">
        <!-- Router Outlet -->
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>

